<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.54.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.54.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.54.0" targetFramework="net472" />
  <package id="Google.Apis.Drive.v3" version="1.54.0.2397" targetFramework="net472" />
  <package id="JsonObjectConverter" version="1.0.32" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net472" />
</packages>